In [ ]:
import numpy as np
import pandas as pd
eps = np.finfo(float).eps

In [ ]:
Age = 'junior,middle,senior,senior,middle,junior,junior,middle,middle,junior,junior,senior,middle,junior,junior,senior,senior'.split(',')
Married = 'yes,no,no,no,yes,no,yes,yes,no,no,no,yes,yes,no,no,yes,yes'.split(',')
Salary = 'high,low,low,low,high,high,low,high,low,low,high,low,high,high,high,high,high'.split(',')
Home_owner = 'yes,yes,no,yes,yes,yes,yes,no,no,no,yes,no,yes,yes,no,yes,no'.split(',')
Loan_worthy = 'yes,no,no,no,yes,yes,yes,yes,no,no,no,yes,yes,yes,no,yes,yes'.split(',')

In [ ]:
data = {'Age':Age, 'Married':Married, 'Salary':Salary, 'Home_owner':Home_owner, 'Loan_worthy' : Loan_worthy}
#df = pd.DataFrame(data)
df = pd.DataFrame(data, columns = ['Age', 'Married', 'Salary', 'Home_owner', 'Loan_worthy'])
df

       Age Married Salary Home_owner Loan_worthy
0   junior     yes   high        yes         yes
1   middle      no    low        yes          no
2   senior      no    low         no          no
3   senior      no    low        yes          no
4   middle     yes   high        yes         yes
5   junior      no   high        yes         yes
6   junior     yes    low        yes         yes
7   middle     yes   high         no         yes
8   middle      no    low         no          no
9   junior      no    low         no          no
10  junior      no   high        yes          no
11  senior     yes    low         no         yes
12  middle     yes   high        yes         yes
13  junior      no   high        yes         yes
14  junior      no   high         no          no
15  senior     yes   high        yes         yes
16  senior     yes   high         no         yes

In [ ]:
def entire_entropy(df):
  target = df.keys()[-1]
  entropy = 0
  target_values = df[target].unique()

  for value in target_values:
    p = df[target].value_counts()[value] / len(df[target])
    entropy += -p * np.log2(p+eps)
  return entropy

In [ ]:
print(entire_entropy(df))

0.9774178175281709

In [ ]:
def entire_gini(df):
  target = df.keys()[-1]
  gini = 0
  target_values = df[target].unique()

  for value in target_values:
    p = df[target].value_counts()[value] / len(df[target])
    gini += p * (1 - p)
  return gini

In [ ]:
print(entire_gini(df))

0.4844290657439446

In [ ]:
def attribute_entropy(df, attribute):
  target = df.keys()[-1]
  entropy_attribute = 0
  target_values = df[target].unique()
  attribute_values = df[attribute].unique()

  for value in attribute_values:
    total_entropy = 0

    for val in target_values:
      numerator = len(df[attribute][df[attribute] == value][df[target] == val])
      denominator = len(df[attribute][df[attribute] == value])
      p = numerator / (denominator + eps)  
      total_entropy += -p * np.log2(p+eps)

    p2 = denominator / len(df)
    entropy_attribute += p2 * total_entropy

  return entropy_attribute

In [ ]:
for attribute in df.keys()[:-1]:
  print('Entropy of',attribute, ' :', attribute_entropy(df, attribute))

Entropy of Age  : 0.976829582163908
Entropy of Married  : 0.4045788563869161
Entropy of Salary  : 0.7800661722847076
Entropy of Home_owner  : 0.9240885849733339

In [ ]:
def best_attribute_to_divide(df):
  entropy_list = []
  attributes = df.keys()[:-1]
  index = 0
  for attribute in attributes:
    entropy_list.append(attribute_entropy(df, attribute))
    
  index = np.argmin(entropy_list)
  best_attribute = attributes[index]
  
  return best_attribute
  #########################################################
  # IG = []
  # attributes  = df.keys()[:-1]
  # for attribute in attributes:
  #   IG.append(entire_entropy(df) - attribute_entropy(df, attribute))
  # index = np.argmax(IG)
  # best_attribute = attributes[index]
  # return best_attribute

In [ ]:
print(best_attribute_to_divide(df))

Married